/*
 Author: Alyssia Fung
 Date: May 2023
 Description: CSS style for index2.html in ICS2O-Unit1-04-HTML-CSS
*/

/* Set the background color for the page */
body {
  background-color: rgb(190 20 179);
  font-family: Arial, sans-serif; /* Add a default font family */
}

/* Style for the main heading */
.header {
  background-color: rgb(255 170 0);
  color: hsl(324dreg 0.84 0.45);
  padding: 40px;
  text-align: center;
}

/* Style for paragraphs */
.paragraph {
  background-color: #e5ff00;
}

/* Style for unordered lists */
.list {
  color: rgb(1 1 1);
}

/* Add checkmark symbol before each list item */
.list li::before {
  content: "✅";
}

/* Style for tables */
.table {
  border: solid thin;
}

/* Style for table headers */
.table th {
  height: 2rem;
  background: rgb(37 208 134);
  border: 1px solid rgb(235 3 3);
  text-align: left;
}

/* Style for table cells */
.table td {
  height: 2rem;
  background: rgb(73 121 137);
  border: 1px solid rgb(68 62 62);
  text-align: center;
}
