/* Created by: Alyssiafung
* Creaded on: February 2023
* This css file defines the style for index html ICS2o-Unit1-04-HTML-CSS
*/

body {
  background-color: aquamarine;
}

h1 {
  background-color: rgb(208 255 0);
  color: hsl(154deg, 50%, 47%);
  padding: 20px;
  text-align: center;
}

p {
  background-color: #a200ff;
}
